.vs/
Printing_Queue.sln
Printing_Queue.vcxproj
Printing_Queue.vcxproj.filters
Printing_Queue.vcxproj.user
x64/
x64/Debug/
x64/Debug/Printing_Queue.exe
x64/Debug/Printing_Queue.exe.recipe
x64/Debug/Printing_Queue.ilk
x64/Debug/Printing_Queue.log
x64/Debug/Printing_Queue.obj
x64/Debug/Printing_Queue.pdb
x64/Debug/Printing_Queue.tlog/CL.command.1.tlog
x64/Debug/Printing_Queue.tlog/CL.read.1.tlog
x64/Debug/Printing_Queue.tlog/CL.write.1.tlog
x64/Debug/Printing_Queue.tlog/Printing_Queue.lastbuildstate
x64/Debug/Printing_Queue.tlog/link.command.1.tlog
x64/Debug/Printing_Queue.tlog/link.read.1.tlog
x64/Debug/Printing_Queue.tlog/link.write.1.tlog
x64/Debug/Printing_Queue.vcxproj.FileListAbsolute.txt
x64/Debug/vc143.idb
x64/Debug/vc143.pdb